modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "web"

[[workflows.workflow]]
name = "web"
author = 40959242
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
